<!DOCTYPE html>
<html lang="ja" ng-app="myapp">
  <head>
    <meta charset="UTF-8" />
    <title>Angularの練習</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="myscript.js"></script>
    <style>
      .even {
        background-color: green;
      }
      .odd {
        background-color:blue;
      }
    </style>
  </head>

  <body>
    <h1>AngularJSの練習</h1>
    <div ng-controller="MainController">
      <p><input type="text" ng-model="query.name" /></p>
      <ul>
        <li ng-repeat="user in users" ng-class-even="'even'" ng-class-odd="'odd'">
          {{$index+1}} {{$first}} {{$middle}} {{$last}} {{user.name}}
          {{user.score}}
        </li>
      </ul>
    </div>
  </body>
</html>
