body {
  margin: 0;
}

header {
  background: pink;
}

.container {
  display: flex;
}

main {
  background: skyblue;
  flex: 1;
}

nav {
  background-color: tomato;
  width: 100px;
  order: -1;
}

aside {
  background: orange;
  width: 100px;
}

footer {
  background: silver;
}
