.box1 {
  background-color: orange;
  width: 200px;
  height: 200px;
}

.box2 {
  background-color: skyblue;
  width: 50%;
  height: 50%;
  /* border-width: 2px;
  border-style: solid;
  border-color: blue; */
  /* border: 2px solid blue; */
  /* border: 2px dashed blue; */
  /* border-top: 2px dashed blue;
  border-bottom: 2px dashed blue; */
  border: 2px solid blue;
  /* border-bottom: none; */
  border-radius: 10px;
}

.box3 {
  background-color: tomato;
}
